body {
	background-color: gray;
}

#game {
	position: relative;
	height: 600px;
	width: 600px;
	background-color: blue;
	z-index: 1;
	margin: auto;
}

#game_over_message {
	position: relative;
	padding: 20px;
	height: 400px;
	width: 400px;
	top: 100px;
	left: 100px;
	color: white;
	background-color: #52bab3;
	font-family: arial;
	text-align: center;
	font-size: 50px;
}

#restart_button {
	position: relative;
	height: 50px;
	width: 200px;
	color: white;
	background-color: #00247d;
	font-family: arial;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	margin: auto;
}

#status_bar {
	position: relative;
	height: 50px;
	width: 600px;
	background-color: black;
	z-index: 1;
	margin: auto;
}

#score_bar_back {
	position: absolute;
	left: 200px;
	height: 50px;
	width: 200px;
	z-index: 2;
	background-color: black;
	color: white;
	font-family: arial;
	text-align: center;
}

#health_bar_back {
	position: absolute;
	left: 400px;
	height: 50px;
	width: 200px;
	z-index: 2;
	background-color: #00247d;
}

#health_bar {
	position: absolute;
	top: 10px;
	left: 410px;
	height: 30px;
	width: 180px;
	z-index: 3;
	background-color: #5dff4f;
}

#shield_bar_back {
	position: absolute;
	height: 50px;
	width: 200px;
	z-index: 2;
	background-color: #00247d;
}

#shield_bar {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 30px;
	width: 180px;
	z-index: 3;
	background-color: #52bab3;
}

.enemy {
	position: absolute;
	height: 50px;	
	width: 50px;
	border-radius: 25px;
	background-color: red;	
}

.projectile {
	position: absolute;
	top: 290px;
	left: 290px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: white;
}

#shield {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #52bab3;
	top: 250px;
	left: 250px;
	z-index: 2;
}

#space_ship {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: white;
	top: 275px;
	left: 275px;
	z-index: 3;
}
